<div class="well form-inline"></div>

<%= form_for [@project,@membership] do |f| %>
  <tr>
    
    <td class = "form-inline"><%= f.select :role, Membership.roles.keys.map {|role| [role.titleize,role]}, {}, class: "form-control" %> 
    </td>
    <td class = "form-inline"><%= f.submit "Update", class: "btn btn-primary" %>
    </td>
    <td class = "form-inline"><%= link_to '<i class="glyphicon glyphicon-remove" aria-hidden="true"></i>'.html_safe, project_membership_path(@project,@membership), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>

</div>


<div class="form-inline">

<% @project.memberships.each do |membership| %>
<%= form_for [@project, membership] do |f| %>
<div class="form-group col-md-2">
<%= link_to membership.user.fullname, user_path(membership.user) %>
</div>
<div class="form-group">
<%= f.select(:role, [["Member", :member],["Owner", :owner]], {include_blank: false}, {class: "form-control"}) %>
</div>
<div class="form-group">
<%= f.submit 'Update', class: 'btn btn-primary' %>


<%= link_to project_membership_path(@project, membership), method: :delete, data: {confirm: 'Are you sure'} do %>
<span class= "glyphicon glyphicon-remove"></span>
</div>
<% end %>

<% end %>
<% end %>