<div class="form-group">
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div><br>

<%= f.submit "create task", class: "btn btn-primary btn btn-md active" %>
<%= f.button link_to('cancel', tasks_path), class: "btn btn-default btn btn-md active" %>





<% end %>

</div>
