
<div class="page-header">
	<div class="pull-right">
		<%= link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info" %> 
	</div>
	<h1><strong><%= @task.description %></h1></strong></div>
</div>

<div class="container">
  <ol class="breadcrumb">
    <li><a href="/projects">Projects</a></li>
    <li class="active"><%= link_to @project.name, project_path(@project) %></li>
    <li class="active"><%= @task.description %></li>
  </ol>



  <p>
    <h5><strong>Due on:  <%= @task.due_date %></strong></h5>
    <h5><strong>Complete:  <%= @task.box %></strong></h5>
  </p>


  <h2>Comments</h2>

    <% @comments.each do |comment| %>
    <div class="row">
      <div class="col-md-3">
        <strong><%= link_to comment.user.fullname, user_path(comment.user) %></strong>
          <p class="text-muted"><%= time_ago_in_words(comment.created_at) %></p>
      </div>
      <div class="col-md-9 pull-right">
        <%=  comment.body %>
      </div>
    </div>
    <% end %>


  <%= form_for([@project, @task, @comment], html: {class: "form-horizontal"}) do |f| %>
  <div class="col-md-offset-3 col-md-9">
    <div class="form-group">
      <%= f.text_field :body, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>   
  </div>
  <% end %>

</div> 




