<div class="page-header">
	<div class="pull-right">
		<%= link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info" %> 
	</div>
	<h1><strong><%= @task.description %></h1></strong></div>
</div>

<div class="container">
  <ol class="breadcrumb">
    <li><a href="/projects">Projects</a></li>
    <li class="active"><%= link_to @project.name, project_path(@project) %></li>
    <li class="active"><%= @task.description %></li>
  </ol>


 
<dl class="dl-horizontal">
  <p><dt>Due on:</dt></p>
  <dd><%= @task.due_date %></dd>
  <p>
    <dt>Complete:</dt>
      <dd><%= @task.box %></dt>   
</dl>

<div class="pull-left">
  <h2>Comments</h2>
</div>

<%= form_for(@comment, html: {class:"form-horizontal"}) do |f| %>

<div class="form-group">
  <%= f.text_field :body, class: "form-control"%>
  <div class="col-md-9">
    <%= %> 
     <%= link_to "Add Comment", root_path, class: "btn btn-primary" %> 
  </div>  
</div>



