<div class = "page-header">
  <div class = "pull-right">
    <% if @user == current_user %> 
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
    <%= link_to "Delete", @user, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
    <% nil %>  
    <% end %> 
  </div>
    <h1><%= @user.fullname %></h1>
</div>

      <ol class = "breadcrumb">
        <li><a href = "/users">Users</a></li>
        <li class = "active"><%= @user.fullname %></li>
      </ol>

      <dl class = "dl-horizontal">
          <dt><strong>First Name: </strong></dt>
          <dd><%= @user.first_name %></dd>
          <dt><strong>Last Name: </strong></dt>
          <dd><%= @user.last_name %></dd>
          <% if current_user == @user || current_user.admin? || @collaborators.include?(@user) %>
          <dt><strong>Email: </strong></dt>
          <dd><%= @user.email %></dd>
          <% end %> 
      </dl>







