
<!-- Main jumbotron for a primary marketing message or call to action -->


  <div class="jumbotron">

    <h1>gCamp</h1>
    <p>Your life, organized.</p>

  </div>



  <!-- Example row of columns -->
  <div class="row">

    <div class="col-md-4">
      <p class='lead'><%=image_tag("8969237967_c5960fc544_b.jpg" ,class: "img-responsive") %></p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          <p>Grouped by projects and lists, just the way you like'em</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <p class='lead'><%=image_tag("8864977481_713b7cbda5_b (1).jpg" ,class: "img-responsive") %></p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Documents</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Upload</li>
            <li>Comment</li>
            <li>Revise</li>
          </ul>
        </div>
      </div>
    </div>



    <div class="col-md-4">
      <p class='lead'><%=image_tag("8864977481_713b7cbda5_b.jpg" ,class: "img-responsive") %></p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div>
    <% @quotes.each do |quote| %>
    <p><%= quote[0] %></p>
    <p class='text-muted'>-<%= quote[1] %></p>
    <% end %>
  </div>
