<body>

  <div class="container">
    <div class="page-header">
      <div class="pull-right">
        <%= link_to 'New Project', new_project_path, class: "btn btn-info", id:"rspec-new" %>
      </div>
      <h1>Projects</h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
           <th>Tasks count</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr> 
             <% if current_user.project_member?(project) || current_user.project_owner?(project) || current_user.admin? %> 
             <td><%= link_to project.name, project_path(project) %></td>
             <td><%= link_to project.tasks.count, project_tasks_path(project) %>
              <% end %>
              <% if current_user.admin?  %>
              <td><%= link_to 'Edit', edit_project_path(project), class: "btn btn-info" %></td>
              <td><%= link_to 'Delete', project_path(project), class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure'}  %></td> 
              <% end %> 
          </tr>
      <% end %> 
    </tbody>
  </table>

  <br>


</div>
</body>



