<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>gCamp</title>
  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>


<body>

<% if current_user %>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/projects">gCamp</a>
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% current_user.projects.each do |project| %>
                  <li><%= link_to project.name, project_path(project) %></li>
                    <% end %>
                  <li class="divider"></li>
                  <li><%= link_to "New Project", new_project_path %></li>
              </ul>
            </li>
          <li><a href="/users">Users</a></li>
        </ul>
      </div>
        <ul class="nav navbar-right">
          <%= link_to current_user.fullname, current_user %>
          |
          <%= link_to "Sign Out", logout_path %>
        </ul>
    </div>
  </div>

  <% else %>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="/">gCamp</a></div>
        <ul class="navbar-right">
          <%= link_to "Register", registration_path %>
          |
          <%= link_to "Sign In", login_path %>
        </ul>
    </div>
  </div>
  <% end %>




  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  <div class="container">

    <% if notice %>
    <div class="alert alert-success">
    <center><%= notice %></center>
  </div>

  <% end %>


      <% if alert %>
    <div class="alert alert-danger">
    <center><%= alert %></center>
  </div>

  <% end %> 






    <%= yield %>


    

      <% if current_user %> 
      
      <footer>
        <div class="row text-center">
          <%=link_to "About", about_path %>
          |
          <%=link_to "Terms", terms_path %>
          |
          <%=link_to "Faq", faq_path %>
          |
          <%=link_to "Users", users_path %>
          |
          <%=link_to "Projects", projects_path %>
        </div>
      </footer>

      <% else %>

      <footer> 
        <div class="row">
          <div class="col-md-6">
            <%=link_to "About", about_path %>
            |
            <%=link_to "Terms", terms_path %>
            |
            <%=link_to "Faq", faq_path %>
            |
            <%=link_to "Users", users_path %>
            |
            <%=link_to "Projects", projects_path %>
          </div>

          <div class="col-md-6 text-right">
            <a href="https://www.linkedin.com/in/johnrmarty/">
              <%=image_tag('footer/linked_in.png', class: "img-footer") %>
              <!-- <img alt="Linked in" class="img-footer" src="/app/assets/images/footer/linked_in-f852478f8950eb3fca3367cb545aaa52.png"> -->
            </a>
            <a href="https://github.com/johnrmarty">
              <%=image_tag('footer/GitHub.png', class: "img-footer") %>
            </a>
            <a href="https://twitter.com/johnrmarty">
              <%=image_tag('footer/Twitter.png', class: "img-footer") %>
            </a>
            <a href="https://students.gschool.it/students/222">
              <%=image_tag('footer/galvanize.png', class: "img-footer") %>
            </a>
          </div>
        <% end %> 
      </footer>
    
    </div><!--  row -->
  </div> <!-- /container -->



</body>
</html>



